name: Trial

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run training script
      run: |
        python train.py

    - name: Job Summary
      run: |
        echo "## ML Training Results" >> $GITHUB_STEP_SUMMARY
        echo "*Name:* Nandana" >> $GITHUB_STEP_SUMMARY
        echo "*Roll Number:* 2022BCS0005" >> $GITHUB_STEP_SUMMARY
        echo "" >> $GITHUB_STEP_SUMMARY
        echo "### Metrics" >> $GITHUB_STEP_SUMMARY
        cat outputs/metrics/results.json >> $GITHUB_STEP_SUMMARY

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: trained-model-and-metrics
        path: |
          outputs/model/model.pkl
          outputs/metrics/results.json

